---
import { Image } from "astro:assets";
import Slider from "@components/UI/react/Slider";
const { title } = Astro.props;
import Fondo1 from "@assets/blog_image1.png";
import Fondo2 from "@assets/background_image10.png";
import Fondo3 from "@assets/background_image11.png";
import Fondo4 from "@assets/background_image12.png";
import Fondo5 from "@assets/background_image13.png";
import Fondo6 from "@assets/background_image14.png";
import Fondo7 from "@assets/background_image15.png";
import Fondo8 from "@assets/background_image16.png";
import Antes from "@assets/blog_image2.png";
import Despues from "@assets/blog_image3.png";
import Fondo9 from "@assets/blog_image4.png";
---

<Image
  class="object-cover absolute translate-x-0 hidden lg:block"
  src={Fondo1}
  alt="imagen de fondo"
/>
<Image
  class="object-cover absolute translate-x-[1378px] hidden lg:block"
  src={Fondo2}
  alt="imagen de fondo"
/>
<Image
  class="object-cover absolute translate-x-[200px] translate-y-96 hidden lg:block"
  src={Fondo3}
  alt="imagen de fondo"
/>
<Image
  class="object-cover absolute translate-x-0 translate-y-[900px] hidden lg:block"
  src={Fondo4}
  alt="imagen de fondo"
/>
<Image
  class="object-cover absolute translate-x-[1410px] translate-y-[900px] hidden lg:block"
  src={Fondo5}
  alt="imagen de fondo"
/>
<div class="flex flex-col md:w-[80%] mx-auto px-4">
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="col-span-1"></div>
    <div class="col-span-2 font-poppins">
      <h1
        class="text-[#798672] uppercase font-prata font-normal text-center sm:text-xl md:text-4xl lg:text-6xl py-6"
      >
        {title}
      </h1>
      <p class="font-semibold mb-8 text-start">
        Descubre todo lo que necesitas saber sobre la rinoplastia y cómo la Dra.
        Pamela Pérez realiza este procedimiento con maestría. Desde la
        personalización de cada detalle hasta la armonización facial, este blog
        te guiará a través de los secretos detrás de una rinoplastia que
        transforma y eleva tu belleza.
      </p>
      <p class="font-light mb-8 text-start">
        Uno de los secretos no tan conocidos es que las rinoplastias son las
        cirugías estéticas más exigentes, complejas y hermosas.
      </p>
      <p class="font-normal text-start mb-8">
        La nariz es un órgano maravilloso cuya estructura sobresale de la cara,
        la parte de soporte de esta estructura superior y externa está formada
        por hueso y la parte inferior es cartílago. El tabique nasal está
        compuesto de hueso y de cartílago que se extiende desde las fosas
        nasales hasta la parte superior de la garganta. Es un órgano complejo
        cuya estructura a veces se daña interna y externamente, mediante la
        rinoplastia es que se puede corregir ese detallito que no te permite
        respirar con normalidad y a la vez se mejora la armonía facial.  En la
        consulta de revisión, la Dra. Pamela, especializada en
        otorrinolaringología, hace una revisión exhaustiva para responder todas
        las dudas que tengas sobre los procedimientos y sobre tus molestias,
        como lo son: ¿Por qué no puedo respirar bien por la nariz? ¿Cómo puedo
        cambiar mi nariz? Desde la primera consulta se te garantiza una escucha
        activa de tus deseos para mejorar tu apariencia, en esta parte se revisa
        bien que se puede hacer y que no se puede, siempre para respetar tu
        morfología.
      </p>
      <p class="font-normal">
        Para ello se realiza un análisis de tu nariz que consiste en:
      </p>
      <ul class="mb-8">
        <li>-Vista de frente: Se valora si hay desviaciones.</li>
        <li>
          -Vista de perfil: Aquí la doctora valora la forma de tu nariz, su
          proyección que hace referencia a lo que sobresale tu nariz de la cara.
        </li>
        <li>
          -Vista basal: Se examina la simetría de las fosas nasales y la forma
          de la punta nasal.
        </li>
      </ul>
      <p class="text-start">
        Todo ello se hace buscando tu armonía facial y ante todo priorizar tu
        salud y bienestar. Al final, se te proporcionará una visualización de
        los resultados para poder personalizar tu perfil nasal que haga resaltar
        tus facciones y te haga sentir pleno. Dicho lo anterior y de acuerdo con
        la revisión exhaustiva y los exámenes solicitados, la doctora te puede
        realizar el procedimiento más adecuado, estos pueden ser los siguientes:
      </p>
    </div>
  </div>
  <div class="flex justify-center items-center py-16">
    <Slider
      imageOne={{ src: Antes.src, alt: "Image one" }}
      imageTwo={{ src: Despues.src, alt: "Image two" }}
      client:visible
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="col-span-2 font-poppins">
      <h1 class="text-start font-bold mb-4">Rinoplastia cerrada o abierta</h1>
      <p class="text-start font-light mb-16">
        En ambas se realiza la misma disección e incisiones. La única diferencia
        en cuanto a las incisiones es que, en la rinoplastia abierta, se va a
        realizar una incisión por abajo de la nariz, cicatrizando por fuera,
        raramente notable una vez sanado. En el caso de la rinoplastia cerrada,
        la cicatriz es interna.
      </p>
      <h1 class="font-bold mb-4">¿Qué sucede durante el procedimiento?</h1>
      <p class="mb-4">
        <span class="font-bold">Rinoplastia cerrada:</span>
        Consiste en realizar dos incisiones en el interior de la nariz, a través
        de las incisiones y mediante cortes pequeñitos y limpios se accede al tallado
        óseo y cartilaginoso para dar la forma deseada, una vez modificado, los tejidos
        blandos que recubren los cartílagos y huesos de la nariz se adaptaran a la
        nueva forma. La cirugía finaliza cerrando las incisiones con puntos que desaparecen
        a lo largo del periodo postoperatorio.
      </p>
      <p class="mb-16">
        <span class="font-bold">Rinoplastia Abierta:</span>
        Consiste en realizar una incisión en la parte central de la nariz, en la
        separación entre las fosas nasales, lo que permite un acceso inmediato a
        huesos y cartílagos, permite mayor movimiento y visibilidad al cirujano,
        es una intervención más compleja que permite cambiar sustancialmente la forma
        de la nariz.
      </p>
      <h1 class="font-bold mb-4">Rinoplastia reconstructiva.</h1>
      <p>
        Hacemos hincapié en que es importantísimo acudir con expertos
        especializados de lo contrario. Hay casos en los que se prioriza una
        estética sin funcionalidad en la que pacientes sufren de una resección
        excesiva del dorso cartilaginoso lo que puede producir un colapso de los
        cartílagos laterales superiores no solo afectando la estética sino la
        calidad de vida.
      </p>
      <p>
        Se recomienda una rinoplastia abierta porque esta implica una mayor
        exposición de los tejidos. Estas cirugías implican mayor riesgo de
        desangrado y que los tejidos no estén como normalmente están, mediante
        rinoplastia abierta se puede corregir grandes deformidades o realizar
        modificaciones sustanciales a la forma de la naricita. Para mejorar las
        estructuras óseas y cartilaginosas nasales para conseguir la forma
        deseada y sobre volver a su funcionalidad.
      </p>
    </div>
    <div class="col-span-1"></div>
    <Image
      src={Fondo6}
      alt="imagen de fondo"
      class="object-cover absolute translate-x-[1000px] hidden lg:block"
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="col-span-1">
      <Image
        src={Fondo8}
        alt="imagen de fondo"
        class="absolute translate-x-[-200px] z-10 translate-y-12 hidden lg:block"
      />
      <Image
        src={Fondo9}
        alt="imagen de fondo"
        class="absolute translate-x-[-200px] translate-y-[75px] hidden lg:block"
      />
      <Image
        src={Fondo7}
        alt="imagen de fondo"
        class="absolute translate-x-80 hidden lg:block"
      />
    </div>
    <div class="col-span-2 py-12 text-start">
      <button
        class="text-white bg-[#798672] px-4 py-1 cursor-default rounded-2xl mb-4"
      >
        Los cuidados post operatorios, descubre todo lo que debes hacer.
      </button>
      <p class="mb-4 font-bold">
        Otro de los secretos detrás de hacerte una rinoplastia es: No existe una
        edad máxima.
      </p>
      <p>
        Nunca es tarde para darte la oportunidad de respirar y verte excelente,
        para realizarte este procedimiento solo necesitas estar en buen estado
        de salud.
      </p>
      <p>
        ¿Qué hay de la edad mínima? Existe diferentes picos de crecimiento en
        cuanto a las estructuras faciales, va a variar de acuerdo con el sexo
        del paciente. En las mujeres el 90% del desarrollo esta completado de
        los 14-15 años
      </p>
      <p class="mb-8">
        En hombres el 90 % de desarrollo esta completado de los 16-17 años, es
        importante mencionar que un procedimiento a edades tempranas va a
        depender alteraciones funcionales o por obstrucción nasal. Sea cual sea
        la edad siempre nos dedicamos a fusionar la precisión técnica con el
        arte de la cirugía para brindarte una experiencia transformadora única.
      </p>
      <h1 class="font-bold mb-4">Resultados</h1>
      <p class="mb-8">
        El resultado definitivo se obtiene en un año aproximadamente, toda la
        personalización no va solamente de tus citas previas y la cirugía,
        además va de la mano con los cuidados postoperatorios y las visitas post
        operatorias; para lograr esa nariz soñada es necesario los chequeos con
        la Doctora Pamela Pérez cuya misión es ofrecer resultados que no solo
        resalten tu belleza, sino que también mejoren tu bienestar general.
      </p>

      <p>
        Ya conoces uno que otro secreto de la rinoplastia, <span
          class="font-bold"
        >
          ¿Te interesa una cita de valoración?
        </span>
      </p>
    </div>
  </div>
</div>
